$dark: #121212;
$white:#fff;
$primary:#151515;
$secondary:#6A983C;
$gray1:#575757;
$gray2:#A9A9A9;
$gray3:#D1D1D1;
$gray4:#EBEBEB;
$gray5:#F9F9F9;
$green1:#46760A;
$green2:#92C064;
$green3:#C8DEB3;
$havana1:#B28A48;
$havana2:#D0A866;
$havana3:#ECD2A6;
$burnt1:#C7522D;
$burnt2:#E5704B;
$burnt3:#EB8D70;
$blue1:#19B2B8;
$blue2:#37D0D6;
$blue3:#7CD0D3;