<footer class="ptb-40">
    <div class="container-fluid">
        <div class="row mrb-20">
            <div class="col-3">
                <div class="text-primary weight-600 size-8 mrb-8">Get in touch</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">About Us</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Careers</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Press Releases</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Blog</div>
            </div>
            <div class="col-3">
                <div class="text-primary weight-600 size-8 mrb-8">Connections</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Facebook</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Twitter</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Instagram</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Youtube</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">LinkedIn</div>
            </div>
            <div class="col-3">
                <div class="text-primary weight-600 size-8 mrb-8">Earnings</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Become an Affiliate</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Advertise your product</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Sell on Market</div>
            </div>
            <div class="col-3">
                <div class="text-primary weight-600 size-8 mrb-8">Account</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Your account</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Returns Centre</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">100 % purchase protection</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Chat with us</div>
                <div class="text-secondary size-4 weight-400 mrb-8 cursor-pointer">Help</div>
            </div>
        </div>
        <div class="text-primary weight-400 size-5">
            Copyright © 2020 petrbilek.com
        </div>
    </div>
</footer>